@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

}
html,body {
    background-color: rgba(0, 0, 0, 0.182);
}


.menu {
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-variant: small-caps;
}
section{
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
}

.normal{
    background-color: #fff;
    color: black;
}
.imagem {
    background-color: rgb(58, 58, 58);
    color: #fff;
} 
.imagem > p {
    background-color: rgba(0, 0, 0, 0.197);
    width: 400px;
}
.rodape{
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

